@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
html,
body {
  height: 100%;
  background: url(../img/Irelandmain.png) no-repeat;
  background-size: cover; }

header .navbar {
  top: 102px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  header .navbar .nav_logo {
    left: 190px; }
  header .navbar .nav {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    header .navbar .nav .nav-item {
      color: #FFFBFB; }
  header .navbar .btn-burger {
    right: 170px;
    display: flex;
    justify-content: flex-end; }

main .text_slogan {
  position: absolute;
  left: 190px;
  top: 250px;
  font-family: "Playfair Display", serif;
  font-size: 70px;
  line-height: 95px;
  color: #FFFBFB; }

main .text_desc {
  position: absolute;
  height: 90px;
  left: 190px;
  top: 470px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 45px;
  color: #FFFBFB; }

main .btn-submit {
  position: absolute;
  width: 309px;
  height: 75px;
  left: 190px;
  top: 557px;
  background: #FFC806;
  border-radius: 75px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #2D0000; }

main .container_play-video_img {
  position: absolute;
  top: 557px;
  left: 589px;
  opacity: 0.75; }

main .container_play-video_text {
  position: absolute;
  top: 557px;
  width: 108px;
  height: 75px;
  left: 684px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #FFFBFB;
  opacity: 0.75; }

main .social {
  height: 55px;
  width: 206px; }

main .social_text {
  position: absolute;
  left: 190px;
  top: 820px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #FFFBFB; }

main .cosial-icon {
  position: absolute;
  width: 215px;
  top: 844px;
  left: 190px; }
  main .cosial-icon .icon {
    display: flex;
    justify-content: space-between;
    align-items: center; }

main .cards {
  position: absolute;
  display: inline-flex;
  justify-content: flex-end;
  top: 820px;
  right: 170px; }
  main .cards #rectangle02 {
    margin: 0 16px; }
  main .cards #rectangle03 {
    margin: 0 16px; }
  main .cards #rectangle04 {
    margin: 0 16px; }
  main .cards .number {
    position: absolute;
    left: 863px;
    top: 890px;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
    color: #FFFBFB; }
