@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
@media screen and (max-width: 1650px) {
  body .wrapper .headerContainer header {
    margin: 0 100px; }
  body .wrapper .headerContainer .content {
    margin: 0 100px; }
    body .wrapper .headerContainer .content .title {
      padding: 140px 0 70px; }
  body .wrapper main {
    margin: 100px 100px 200px; }
  body .wrapper footer {
    margin: 0 100px; } }

@media screen and (max-width: 1550px) {
  body .wrapper .headerContainer {
    padding: 76px 0 0 0; }
    body .wrapper .headerContainer .content .title {
      padding: 110px 0 70px; }
  body .wrapper main .offer:nth-child(odd) .imageTag {
    height: 520px; }
  body .wrapper main .offer:nth-child(odd) .description {
    margin: 0 0 0 100px; }
  body .wrapper main .offer:nth-child(even) .imageTag {
    height: 555px; }
  body .wrapper main .offer:nth-child(even) .description {
    margin: 0 50px 0 0; } }

@media screen and (max-width: 1550px) and (max-width: 1485px) {
  body .wrapper main .offer:nth-child(odd) .imageTag {
    height: 480px; }
  body .wrapper main .offer:nth-child(even) .imageTag {
    height: 480px; } }

@media screen and (max-width: 1550px) {
  body .wrapper footer .footerContainer {
    height: 75px; }
    body .wrapper footer .footerContainer ul {
      text-align: center;
      padding: 0;
      display: block;
      font-size: 14px;
      line-height: 15px;
      margin: 0 400px 0 0; }
      body .wrapper footer .footerContainer ul .privacyPolicy {
        width: auto; }
      body .wrapper footer .footerContainer ul .personalData {
        width: auto; }
    body .wrapper footer .footerContainer .footerSocial {
      width: 450px;
      height: 120px; } }

@media screen and (max-width: 1440px) {
  body .wrapper .headerContainer {
    background-size: cover; }
    body .wrapper .headerContainer header nav ul {
      font-family: "Montserrat", "Open Sans", "Roboto", "Raleway";
      font-style: normal;
      font-weight: 500;
      font-size: 16px; }
    body .wrapper .headerContainer .content .title {
      padding: 70px 0 70px 0; }
    body .wrapper .headerContainer .content .cards {
      padding: 50px 0 70px 0;
      justify-content: center; }
  body .wrapper main .offer {
    display: block; }
    body .wrapper main .offer .imageTag {
      margin: 0 auto 50px; }
      body .wrapper main .offer .imageTag:nth-child(odd) {
        height: 555px; }
      body .wrapper main .offer .imageTag:nth-child(even) {
        height: 555px; }
    body .wrapper main .offer .description {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 0 0 0 auto;
      margin: 0 auto 0 0; } }

@media screen and (max-width: 1150px) {
  body .wrapper .headerContainer {
    padding: 40px 0 0 0; }
    body .wrapper .headerContainer .content .title {
      padding: 50px 0; }
      body .wrapper .headerContainer .content .title h1 {
        font-size: 60px; }
    body .wrapper .headerContainer .content .cards {
      flex-wrap: wrap; }
      body .wrapper .headerContainer .content .cards div {
        margin: 16px; }
        body .wrapper .headerContainer .content .cards div:not(:last-child) {
          margin: 16px; }
  body .wrapper main .offer:nth-child(odd) .description {
    display: block; }
    body .wrapper main .offer:nth-child(odd) .description .descCont .descriptionSubject {
      width: auto; }
    body .wrapper main .offer:nth-child(odd) .description .descCont .descriptionText {
      width: auto;
      margin: 30px 0; }
    body .wrapper main .offer:nth-child(odd) .description .button {
      text-align: end; }
  body .wrapper main .offer:nth-child(even) .description {
    display: block; }
    body .wrapper main .offer:nth-child(even) .description .descCont {
      text-align: end; }
      body .wrapper main .offer:nth-child(even) .description .descCont .descriptionSubject {
        width: auto; }
      body .wrapper main .offer:nth-child(even) .description .descCont .descriptionText {
        width: auto;
        margin: 30px 0; }
  body .wrapper main .offer:not(:last-child) {
    margin: 0 0 100px 0; }
  body .wrapper footer .footerContainer ul {
    padding: 0 0 0 40px;
    margin: 0 272px 0 0; }
    body .wrapper footer .footerContainer ul li {
      height: 25px; }
  body .wrapper footer .footerContainer .footerSocial {
    width: 316px;
    height: 120px; } }

@media screen and (max-width: 991px) {
  body .wrapper .headerContainer .content .title {
    padding: 30px 0; }
  body .wrapper main .offer .imageTag:nth-child(odd) {
    height: 500px; }
  body .wrapper footer .footerContainer {
    display: block; }
    body .wrapper footer .footerContainer ul {
      margin: 0 auto;
      padding: 0; }
    body .wrapper footer .footerContainer .logoDark {
      float: left; }
    body .wrapper footer .footerContainer .footerSocial {
      width: 100%; } }

@media screen and (max-width: 850px) {
  body .wrapper .headerContainer header {
    margin: 0 70px; }
  body .wrapper .headerContainer .content {
    margin: 0 70px; }
    body .wrapper .headerContainer .content .btnPlay {
      margin: 0 0 0 39px; }
    body .wrapper .headerContainer .content .cards {
      padding: 25px 0; }
  body .wrapper main {
    margin: 100px 55px 150px; }
  body .wrapper footer .footerContainer ul {
    margin: 0 50px; } }

@media screen and (max-width: 767px) {
  body .wrapper .headerContainer header {
    display: block; }
    body .wrapper .headerContainer header nav {
      display: none; }
      body .wrapper .headerContainer header nav ul {
        margin: 20px 0 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 40px;
        flex-direction: column; }
        body .wrapper .headerContainer header nav ul li {
          display: flex;
          justify-content: flex-end; }
          body .wrapper .headerContainer header nav ul li:not(:last-child) {
            margin: 0 0 0 0; }
    body .wrapper .headerContainer header .show {
      display: flex;
      justify-content: flex-end; }
      body .wrapper .headerContainer header .show ul li a {
        color: #FFC806; }
    body .wrapper .headerContainer header .menu {
      position: absolute;
      top: 0;
      right: 0;
      padding: 45px 70px 0 0; }
      body .wrapper .headerContainer header .menu img {
        display: block; }
  body .wrapper .headerContainer .content {
    display: flex;
    flex-direction: column; }
    body .wrapper .headerContainer .content .title {
      padding: 30px 0 0; }
      body .wrapper .headerContainer .content .title h1 {
        font-size: 50px;
        line-height: 70px;
        width: auto; }
      body .wrapper .headerContainer .content .title p {
        font-size: 20px;
        line-height: 40px;
        width: auto;
        margin: 45px 0 40px; }
    body .wrapper .headerContainer .content .btnUser {
      text-align: center;
      margin: 0 auto; }
    body .wrapper .headerContainer .content .btnPlay {
      width: 203px;
      float: none;
      margin: 55px auto; }
    body .wrapper .headerContainer .content .social {
      text-align: center;
      margin: 0 auto; }
  body .wrapper main .offer:nth-child(odd) .imageTag {
    height: 400px; }
    body .wrapper main .offer:nth-child(odd) .imageTag .bgUnderImg {
      width: 85%;
      height: 30%; }
    body .wrapper main .offer:nth-child(odd) .imageTag .bgImage {
      padding: 20px 0 0 20px; }
    body .wrapper main .offer:nth-child(odd) .imageTag .bgLinkDesc {
      width: 40%;
      height: 20%; }
      body .wrapper main .offer:nth-child(odd) .imageTag .bgLinkDesc p {
        padding-top: 12px;
        padding-left: 20px;
        font-size: 14px;
        line-height: 27px; }
      body .wrapper main .offer:nth-child(odd) .imageTag .bgLinkDesc .arrowYeyllow {
        right: 14px;
        top: 42px; }
  body .wrapper main .offer:nth-child(even) .imageTag {
    height: 400px; }
    body .wrapper main .offer:nth-child(even) .imageTag .bgUnderImg {
      width: 85%;
      height: 30%; }
    body .wrapper main .offer:nth-child(even) .imageTag .bgImage {
      padding: 20px 20px 0 0; }
    body .wrapper main .offer:nth-child(even) .imageTag .bgLinkDesc {
      width: 40%;
      height: 20%; }
      body .wrapper main .offer:nth-child(even) .imageTag .bgLinkDesc p {
        padding-top: 12px;
        padding-left: 20px;
        font-size: 14px;
        line-height: 27px; }
      body .wrapper main .offer:nth-child(even) .imageTag .bgLinkDesc .arrowYeyllow {
        right: 14px;
        top: 42px; }
  body .wrapper main .offer:not(:last-child) {
    margin: 0 0 50px 0; }
  body .wrapper footer {
    margin: 0 55px; }
    body .wrapper footer .footerContainer .logoDark {
      float: none;
      display: flex;
      justify-content: center; }
    body .wrapper footer .footerContainer ul {
      margin: 30px 0; } }

@media screen and (max-width: 691px) {
  body .wrapper .headerContainer .content .title h1 {
    font-size: 46px;
    line-height: 66px; }
  body .wrapper .headerContainer .content .title p {
    margin: 30px 0 35px;
    font-size: 18px;
    line-height: 28px; }
  body .wrapper main {
    margin: 100px 55px 100px; }
    body .wrapper main .offer:nth-child(odd) .imageTag {
      margin: 0 auto 25px; }
    body .wrapper main .offer:nth-child(odd) .description .descCont .descriptionSubject {
      font-size: 35px;
      line-height: 44px; }
    body .wrapper main .offer:nth-child(odd) .description .descCont .descriptionText {
      font-size: 17px;
      line-height: 17px;
      margin: 25px 0; }
    body .wrapper main .offer:nth-child(odd) .description .button button {
      width: 270px;
      height: 62px;
      font-size: 18px;
      margin: 15px 0; }
    body .wrapper main .offer:nth-child(even) .imageTag {
      margin: 0 auto 25px; }
    body .wrapper main .offer:nth-child(even) .description .descCont .descriptionSubject {
      font-size: 35px;
      line-height: 44px; }
    body .wrapper main .offer:nth-child(even) .description .descCont .descriptionText {
      font-size: 17px;
      line-height: 17px;
      margin: 25px 0; }
    body .wrapper main .offer:nth-child(even) .description .button button {
      width: 270px;
      height: 62px;
      font-size: 18px;
      margin: 15px 0; } }

@media screen and (max-width: 575px) {
  body .wrapper .headerContainer header {
    margin: 0 40px; }
    body .wrapper .headerContainer header .menu {
      padding: 45px 40px 0 0; }
  body .wrapper .headerContainer .content {
    margin: 0 40px; }
    body .wrapper .headerContainer .content .cards {
      padding: 25px 0 16px; }
  body .wrapper main {
    margin: 80px 40px; }
    body .wrapper main .offer:nth-child(odd) .imageTag {
      height: 244px; }
      body .wrapper main .offer:nth-child(odd) .imageTag .bgUnderImg {
        display: none; }
      body .wrapper main .offer:nth-child(odd) .imageTag .bgImage {
        width: 45%;
        padding: 0; }
      body .wrapper main .offer:nth-child(odd) .imageTag .bgLinkDesc {
        right: 450px;
        width: 25%;
        height: 19%;
        border-radius: 6px; }
        body .wrapper main .offer:nth-child(odd) .imageTag .bgLinkDesc p {
          padding-top: 5px;
          padding-left: 11px;
          font-size: 12px;
          line-height: 18px;
          font-weight: 600; }
        body .wrapper main .offer:nth-child(odd) .imageTag .bgLinkDesc .arrowYeyllow {
          right: 12px;
          top: 24px; }
    body .wrapper main .offer:nth-child(odd) .description {
      margin: 0 0 0 70px; }
      body .wrapper main .offer:nth-child(odd) .description .descCont .descriptionSubject {
        font-size: 28px;
        line-height: 33px; }
      body .wrapper main .offer:nth-child(odd) .description .descCont .descriptionText {
        font-size: 15px;
        margin: 17px 0; }
      body .wrapper main .offer:nth-child(odd) .description .button button {
        width: 200px;
        height: 48px;
        font-size: 16px;
        margin: 10px 0; }
    body .wrapper main .offer:nth-child(even) .imageTag {
      height: 244px; }
      body .wrapper main .offer:nth-child(even) .imageTag .bgUnderImg {
        display: none; }
      body .wrapper main .offer:nth-child(even) .imageTag .bgImage {
        width: 45%;
        padding: 0; }
      body .wrapper main .offer:nth-child(even) .imageTag .bgLinkDesc {
        right: 450px;
        width: 25%;
        height: 19%;
        border-radius: 6px; }
        body .wrapper main .offer:nth-child(even) .imageTag .bgLinkDesc p {
          padding-top: 5px;
          padding-left: 11px;
          font-size: 12px;
          line-height: 18px;
          font-weight: 600; }
        body .wrapper main .offer:nth-child(even) .imageTag .bgLinkDesc .arrowYeyllow {
          right: 12px;
          top: 24px; }
    body .wrapper main .offer:nth-child(even) .description {
      margin: 0 0 0 70px; }
      body .wrapper main .offer:nth-child(even) .description .descCont .descriptionSubject {
        font-size: 28px;
        line-height: 33px; }
      body .wrapper main .offer:nth-child(even) .description .descCont .descriptionText {
        font-size: 15px;
        margin: 17px 0; }
      body .wrapper main .offer:nth-child(even) .description .button button {
        width: 200px;
        height: 48px;
        font-size: 16px;
        margin: 10px 0; }
    body .wrapper main .offer:nth-child(even) .imageTag .bgUnderImg {
      right: 427px;
      top: 5px; }
  body .wrapper footer {
    margin: 80px 40px; } }

@media screen and (max-width: 424px) {
  body .wrapper .headerContainer .content .title {
    padding: 20px 0 0; }
    body .wrapper .headerContainer .content .title h1 {
      font-size: 40px;
      line-height: 47px; }
    body .wrapper .headerContainer .content .title p {
      margin: 25px 0 35px;
      font-size: 17px;
      line-height: 27px; } }
