@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
@media all and (max-width: 1260px) {
  body .wrapper .headerContainer .content .test {
    flex-direction: column; }
    body .wrapper .headerContainer .content .test .social {
      max-width: 206px;
      margin: 0; }
    body .wrapper .headerContainer .content .test .cards {
      margin: 50px 0 0 0; }
  body .wrapper main .offer {
    flex-wrap: wrap; }
    body .wrapper main .offer:nth-child(odd) .imageTag {
      margin: 30px 0 70px 30px; }
    body .wrapper main .offer:nth-child(even) .imageTag {
      margin: 30px 30px 70px 0; }
  body .wrapper footer {
    padding: 0 100px; }
    body .wrapper footer .footerContainer {
      flex-direction: column; }
      body .wrapper footer .footerContainer .logoDark {
        margin: 20px auto; }
      body .wrapper footer .footerContainer ul {
        flex-direction: column;
        padding: 0; }
        body .wrapper footer .footerContainer ul li {
          width: 100%;
          margin: 10px auto; }
          body .wrapper footer .footerContainer ul li a {
            display: flex;
            justify-content: center; }
      body .wrapper footer .footerContainer .footerSocial {
        border-radius: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0; } }

@media all and (max-width: 782px) {
  body .wrapper .headerContainer {
    padding: 70px; }
    body .wrapper .headerContainer header {
      display: block; }
      body .wrapper .headerContainer header nav {
        display: none; }
        body .wrapper .headerContainer header nav ul {
          margin: 20px 0 0;
          font-weight: 700;
          font-size: 18px;
          line-height: 40px;
          flex-direction: column; }
          body .wrapper .headerContainer header nav ul li {
            display: flex;
            justify-content: flex-end; }
            body .wrapper .headerContainer header nav ul li:not(:last-child) {
              margin: 0 0 0 0; }
      body .wrapper .headerContainer header .show {
        display: block; }
        body .wrapper .headerContainer header .show ul li a {
          color: #FFC806; }
      body .wrapper .headerContainer header .menu {
        position: absolute;
        top: 78px;
        right: 70px; }
        body .wrapper .headerContainer header .menu a {
          display: block; }
    body .wrapper .headerContainer .content {
      text-align: center;
      flex-direction: row; }
      body .wrapper .headerContainer .content .title {
        padding: 47px 0 0 0; }
        body .wrapper .headerContainer .content .title h1 {
          font-size: 49px;
          line-height: 68px;
          width: 100%; }
        body .wrapper .headerContainer .content .title p {
          margin: 30px auto;
          font-size: 20px;
          line-height: 34px; }
      body .wrapper .headerContainer .content button {
        float: none;
        margin: 40px 0; }
      body .wrapper .headerContainer .content .btnPlay {
        float: none;
        margin: 20px auto; }
        body .wrapper .headerContainer .content .btnPlay .playVideoText {
          text-align: start; }
      body .wrapper .headerContainer .content .test .social {
        margin: 10px auto; }
      body .wrapper .headerContainer .content .test .cards div:not(:last-child) {
        margin: 0 16px 16px 32px; }
  body .wrapper main {
    padding: 70px; }
    body .wrapper main .offer {
      margin: 0 0 100px 0; }
      body .wrapper main .offer:nth-child(odd) .description {
        text-align: center;
        width: 100%;
        margin: 0; }
        body .wrapper main .offer:nth-child(odd) .description .descCont .descriptionSubject {
          margin: 0 auto; }
        body .wrapper main .offer:nth-child(odd) .description .descCont .descriptionText {
          margin: 40px auto; }
      body .wrapper main .offer:nth-child(even) .description {
        text-align: center;
        width: 100%;
        margin: 0; }
        body .wrapper main .offer:nth-child(even) .description .descCont .descriptionSubject {
          margin: 0 auto; }
        body .wrapper main .offer:nth-child(even) .description .descCont .descriptionText {
          margin: 40px auto; }
  body .wrapper footer {
    padding: 0 70px; }
    body .wrapper footer .footerContainer ul li {
      text-align: center; } }

@media all and (max-width: 647px) {
  body .wrapper .headerContainer .content button {
    font-size: 17px; }
  body .wrapper .headerContainer .content .test .cards div {
    margin: 0 0 16px 0; }
    body .wrapper .headerContainer .content .test .cards div:not(:last-child) {
      margin: 0 0 16px 0; }
  body .wrapper main .offer:nth-child(odd) .imageTag {
    width: 385px;
    margin: 30px auto 70px;
    text-align: center; }
    body .wrapper main .offer:nth-child(odd) .imageTag .bgUnderImg {
      display: none; }
    body .wrapper main .offer:nth-child(odd) .imageTag .bgImage {
      width: 92%;
      height: 252px; }
    body .wrapper main .offer:nth-child(odd) .imageTag .linkDesc {
      display: none; }
  body .wrapper main .offer:nth-child(odd) .description .descCont .descriptionSubject {
    font-size: 30px;
    line-height: 42px;
    width: 100%; }
  body .wrapper main .offer:nth-child(odd) .description button {
    font-size: 17px; }
  body .wrapper main .offer:nth-child(even) .imageTag {
    text-align: center;
    margin: 30px auto 70px; }
    body .wrapper main .offer:nth-child(even) .imageTag .bgUnderImg {
      display: none; }
    body .wrapper main .offer:nth-child(even) .imageTag .bgImage {
      width: 92%;
      height: 252px; }
    body .wrapper main .offer:nth-child(even) .imageTag .linkDesc {
      display: none; }
  body .wrapper main .offer:nth-child(even) .description .descCont .descriptionSubject {
    font-size: 30px;
    line-height: 42px;
    width: 100%; }
  body .wrapper main .offer:nth-child(even) .description button {
    font-size: 17px; }
  body .wrapper main .offer:not(:last-child) {
    margin: 0 0 100px 0; } }
