@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
$colTextFirstScreen: #FFFBFB !default;
$colBtm: #FFC806;
$colInBtm: #2D0000;
$fontPlayfairDisplay: 'Playfair Display',
serif;
html,
body {
    height: 100%;
    background: url(../img/Irelandmain.png) no-repeat;
    background-size: cover;
}

header {
    .navbar {
        top: 102px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .nav_logo {
            left: 190px;
        }
        .nav {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .nav-item {
                color: $colTextFirstScreen;
            }
        }
        .btn-burger {
            right: 170px;
            display: flex;
            justify-content: flex-end;
        }
    }
}

main {
    position: relative;
    .container-subject {
        position: absolute;
        left: 190px;
        top: 170px;
        .subject_slogan {
            position: absolute;
            width: 781px;
            height: 179px;
            top: 0;
            .text_slogan {
                font-family: $fontPlayfairDisplay;
                font-size: 70px;
                line-height: 95px;
                color: $colTextFirstScreen;
            }
        }
        .subject_desc {
            position: absolute;
            width: 493px;
            height: 90px;
            top: 229px;
            .text_desc {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 25px;
                line-height: 45px;
                color: $colTextFirstScreen;
            }
        }
    }
    .container-btn {
        position: absolute;
        left: 190px;
        top: 557px;
        padding-left: 0;
        .btn-submit {
            width: 309px;
            height: 75px;
            background: $colBtm;
            border-radius: 75px;
            border: none;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            color: $colInBtm;
        }
    }
    .container-play_video {
        position: absolute;
        height: 75px;
        width: 203px;
        top: 557px;
        left: 61px;
        .container-play_video-img {
            left: 0;
            opacity: 0.75;
        }
        .container-play_video-text {
            right: 0;
            width: 108px;
            height: 75px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 25px;
            color: $colTextFirstScreen;
            opacity: 0.75;
        }
    }
    .social {
        position: relative;
        height: 55px;
        width: 206px;
        left: 218px;
        top: 820px;
        .social_text {
            position: absolute;
            // width: 206px;
            // left: 190px;
            // top: 820px;
            top: 0;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            color: $colTextFirstScreen;
            // color: black;
        }
        .cosial-icon {
            position: absolute;
            width: 215px;
            top: 844px;
            left: 190px;
            .icon {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    .cards {
        position: absolute;
        display: inline-flex;
        justify-content: flex-end;
        top: 820px;
        right: 170px;
        #rectangle02 {
            margin: 0 16px;
        }
        #rectangle03 {
            margin: 0 16px;
        }
        #rectangle04 {
            margin: 0 16px;
        }
        .number {
            position: absolute;
            // width: 27px;
            // height: 25px;
            left: 863px;
            top: 890px;
            font-family: $fontPlayfairDisplay;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 25px;
            color: $colTextFirstScreen;
        }
    }
}