@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');
$colorPrimary: #FFFBFB;
$colorButton: #FFC806;
$colorTextBtn: #2D0000;
$fontMontserrat: 'Montserrat',
serif;
$fontPlayfairDisplay: 'Playfair Display',
serif;
.wrapper {
    background-image: url('../img/Irelandmain.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-size: cover;
    min-height: 1184px;
    padding: 102px 190px 0 190px;
    header {
        display: flex;
        justify-content: space-between;
        .logo {
            height: 100%;
        }
        nav {
            height: 100%;
            padding-top: 8px;
            ul {
                padding: 0;
                margin: 0;
                display: flex;
                font-family: $fontMontserrat;
                font-weight: 500;
                font-size: 16px;
                li {
                    list-style: none;
                    &:not(:last-child) {
                        margin-right: 40px;
                    }
                    a {
                        text-decoration: none;
                        color: $colorPrimary;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .menu {
            height: 100%;
            padding-top: 5px;
        }
    }
    article {
        width: 806px;
        padding-top: 130px;
        h1 {
            font-family: $fontPlayfairDisplay;
            font-size: 70px;
            line-height: 95px;
            color: $colorPrimary;
            margin: 0;
            top: 0;
            height: 179px;
        }
        p {
            font-family: $fontMontserrat;
            color: $colorPrimary;
            font-weight: 500;
            height: 90px;
            width: 493px;
            font-size: 25px;
            line-height: 45px;
            padding-top: 50px;
            margin: 0;
        }
    }
    button {
        width: 309px;
        height: 75px;
        border-radius: 75px;
        background-color: $colorButton;
        color: $colorTextBtn;
        border: none;
    }
}