$colorA: #FFFBFB;
.wrapper {
    header {
        display: flex;
        background-image: url('../img/Irelandmain.png');
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        background-size: cover;
        min-height: 1184px;
        padding: 102px 0 0 190px;
        .logo {
            // display: inline-block;
        }
        .navbar {
            // display: inline-block;
            ul {
                padding: 0;
                margin: 0;
                display: flex;
                li {
                    list-style: none;
                    &:not(:last-child) {
                        margin-right: 40px;
                    }
                    a {
                        text-decoration: none;
                        color: $colorA;
                    }
                }
            }
        }
        .menu {
            // display: inline-block;
        }
    }
}