@import '../fonts/Montserrat';
@import '../fonts/PlayfairDisplay';
// variables
$marginConrainer: 0 55px;
$marginConrainerMain: 100px 55px 200px;
// media
@media screen and (max-width: 1650px) {
    body {
        .wrapper {
            .headerContainer {
                header {
                    margin: $marginConrainer;
                }
                .content {
                    margin: $marginConrainer;
                }
            }
            main {
                margin: $marginConrainerMain;
            }
            footer {
                margin: $marginConrainer;
            }
        }
    }
}

@media screen and (max-width: 1550px) {
    body {
        .wrapper {
            main {
                .offer {
                    &:nth-child(odd) {
                        .description {
                            margin: 0 50px 0 100px;
                        }
                    }
                    &:nth-child(even) {
                        .description {
                            margin: 0 50px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    body {
        .wrapper {
            .headerContainer {
                background-size: cover;
                header {
                    nav {
                        ul {
                            font-family: $fontMontserrat;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                        }
                    }
                }
                .content {
                    .title {
                        padding: 70px 0 70px 0;
                    }
                    .social {
                        margin-top: 70px;
                    }
                    .cards {
                        padding: 50px 0 70px 0;
                        justify-content: center;
                    }
                }
            }
            main {
                .offer {
                    display: block;
                    .imageTag {
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 50px;
                    }
                    .description {
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
            footer {
                .footerContainer {
                    height: 75px;
                    ul {
                        text-align: center;
                        padding: 0;
                        display: block;
                        font-size: 14px;
                        line-height: 15px;
                        margin: 0 400px 0 0;
                        .privacyPolicy {
                            width: auto;
                        }
                        .personalData {
                            width: auto;
                        }
                    }
                    .footerSocial {
                        width: 450px;
                        height: 120px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    body {
        .wrapper {
            footer {
                .footerContainer {
                    ul {
                        padding: 0 0 0 40px;
                        margin: 0 272px 0 0;
                        li {
                            height: 25px;
                        }
                    }
                    .footerSocial {
                        width: 316px;
                        height: 120px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 970px) {
    body {
        .wrapper {
            .headerContainer {
                padding: 40px 0 0 0;
                .content {
                    .title {
                        padding: 50px 0 50px 0;
                        width: 698px;
                        h1 {
                            font-size: 60px;
                        }
                    }
                    .cards {
                        flex-wrap: wrap;
                        div {
                            &:not(:last-child) {
                                margin: 16px;
                            }
                            margin: 16px;
                        }
                    }
                }
            }
            main {
                margin: 100px 55px 150px;
                .offer {
                    margin-bottom: 100px;
                    &:nth-child(odd) {
                        .description {
                            display: block;
                            .descCont {
                                .descriptionSubject {
                                    width: auto;
                                    height: 140px;
                                }
                                .descriptionText {
                                    width: auto;
                                    margin: 0 0 15px 0;
                                }
                            }
                            .button {
                                text-align: end;
                            }
                        }
                    }
                    &:nth-child(even) {
                        .description {
                            display: block;
                            .descCont {
                                text-align: end;
                                .descriptionSubject {
                                    width: auto;
                                    height: 140px;
                                }
                                .descriptionText {
                                    width: auto;
                                    margin: 0 0 15px 0;
                                }
                            }
                        }
                    }
                    &:not(:last-child) {
                        margin-bottom: 100px;
                    }
                }
            }
            footer {
                .footerContainer {
                    display: block;
                    .logoDark {
                        float: left;
                    }
                    .footerSocial {
                        width: 100%;
                    }
                }
            }
        }
    }
}