@import '../fonts/Montserrat';
@import '../fonts/PlayfairDisplay';
@import 'rules';
@media all and (max-width: 1260px) {
    body {
        .wrapper {
            .headerContainer {
                .content {
                    .test {
                        flex-direction: column;
                        .social {
                            max-width: 206px;
                            margin: 0;
                        }
                        .cards {
                            margin: 50px 0 0 0;
                        }
                    }
                }
            }
            main {
                .offer {
                    flex-wrap: wrap;
                    &:nth-child(odd) {
                        .imageTag {
                            margin: 30px 0 70px 30px;
                        }
                    }
                    &:nth-child(even) {
                        .imageTag {
                            margin: 30px 30px 70px;
                        }
                    }
                }
            }
            footer {
                .footerContainer {
                    flex-direction: column;
                    .logoDark {
                        margin: 20px auto;
                    }
                    ul {
                        flex-direction: column;
                        li {
                            width: 100%;
                            margin: 10px auto;
                            a {
                                display: flex;
                                justify-content: center;
                            }
                        }
                    }
                    .footerSocial {
                        border-radius: 0;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 768px) {
    body {
        .wrapper {
            .headerContainer {
                header {
                    display: block;
                    nav {
                        display: none;
                        ul {
                            margin: 20px 0 0;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 40px;
                            flex-direction: column;
                            li {
                                display: flex;
                                justify-content: flex-end;
                                &:not(:last-child) {
                                    margin: 0 0 0 0;
                                }
                            }
                        }
                    }
                    .show {
                        display: block;
                        ul {
                            li {
                                a {
                                    color: $colorSecondary;
                                }
                            }
                        }
                    }
                    .menu {
                        position: absolute;
                        top: 108px;
                        right: 100px;
                        a {
                            display: block;
                        }
                    }
                }
                .content {
                    text-align: center;
                    .title {
                        padding: 76px 0 0 0;
                        h1 {
                            font-size: 55px;
                            line-height: 76px;
                            width: 100%;
                        }
                    }
                    button {
                        position: relative;
                        left: 50%;
                        transform: translate(-50%, 0);
                        margin: 26px 0 40px;
                    }
                    .btnPlay {
                        position: relative;
                        left: 50%;
                        transform: translate(-50%, 0);
                        float: none;
                        margin: 0;
                    }
                }
            }
        }
    }
}