// variable 
// --
// color
$colorPrimary: #FFFBFB;
$colorSecondary: #FFC806;
// $colorSecondary: #41c9e8;
$colorSecondaryBorder: #b48e05;
$colorTextBtn: #2D0000;
$colorTextGorge: #333333;
$colorDescriptionText: #B5B5B5;
$colorBgFooterSocial: #fcfcfc;
// max-width 
// ---
// 1516px
$maxWidthContent: 1516px;
// ---
// 1650px
$marginConrainer1650px: 0 100px;
$marginConrainerMain1650px: 100px 100px 200px;
// ---
// 850px
$marginConrainer850px: 0 70px;
$marginConrainerMain850px: 100px 70px 200px;
$heightImageTag850px: 513px;
// ---
// 767px
// --
// image first
$paddingBgImageFirst767px: 20px 0 0 20px;
// --
// image second
$paddingBgImageSecond767px: 20px 20px 0 0;
// ---
// 575px
$marginConrainer575px: 0 40px;
@mixin cardsBox() {
    position: relative;
    &:not(:last-child) {
        margin: 0 32px 0 0;
    }
    .number {
        margin: 0;
        position: absolute;
        left: 25px;
        top: 25px;
        font-family: $fontPlayfairDisplay;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
    }
    .name {
        margin: 0;
        // width: 171px;
        width: 40%;
        position: absolute;
        left: 25px;
        bottom: 25px;
        font-family: $fontMontserrat;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: $colorPrimary;
    }
    .arrowWhite {
        position: absolute;
        bottom: 25px;
        right: 25px;
    }
}

@mixin imageTag ($borderRadius, $background) {
    .imageTag {
        width: 740px;
        position: relative;
        .bgUnderImg {
            background: rgba(201, 201, 201, 0.16);
            width: 90%;
            height: 30%;
            border-radius: $borderRadius;
            top: -30px;
            position: absolute;
        }
        .bgImage {
            background: $background;
            background-size: cover;
            border-radius: 16px;
            position: relative;
            width: 100%;
            height: 470px;
            display: inline-block;
        }
        .linkDesc {
            font-family: $fontMontserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            color: $colorTextGorge;
            box-sizing: border-box;
            text-decoration: none;
            background: $colorPrimary url(../img/ArrowYeyllow.png) no-repeat 90% center;
            box-shadow: 0px 4px 16px rgba(1, 8, 41, 0.08);
            border-radius: 16px;
            position: absolute;
            bottom: -36px;
            right: 30px;
            padding: 30px 152px 30px 40px;
            width: 370px;
        }
    }
}

@mixin desc () {
    .description {
        margin: 0 0 0 100px;
        .descCont {
            .descriptionSubject {
                margin: 0;
                width: 437px;
                font-family: $fontPlayfairDisplay;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 52px;
                color: $colorTextGorge;
                span {
                    color: $colorSecondary;
                }
            }
            .descriptionText {
                font-family: $fontMontserrat;
                font-weight: 600;
                font-size: 20px;
                color: $colorDescriptionText;
                margin: 40px 0;
            }
        }
        button {
            // width: 309px;
            // height: 75px;
            border: 2px solid $colorSecondary;
            background-color: #fff;
            color: $colorSecondary;
            border-radius: 75px;
            font-family: $fontMontserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            cursor: pointer;
            margin: 30px 0;
            padding: 24px 74px;
            &:hover {
                border: 3px solid $colorSecondaryBorder;
            }
        }
    }
}