@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
$colTextFirstScreen: #FFFBFB !default;
$colBtm: #FFC806;
$colInBtm: #2D0000;
html,
body {
    height: 100%;
    background: url(../img/Irelandmain.png) no-repeat bottom;
    background-size: cover;
}

header {
    .navbar {
        top: 102px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .nav_logo {
            padding-left: 219px;
        }
        .nav {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .nav-item {
                color: $colTextFirstScreen;
            }
        }
        .btn-burger {
            padding-right: 219px;
            display: flex;
            justify-content: flex-end;
        }
    }
}

main {
    .text_slogan {
        position: absolute;
        left: 219px;
        top: 250px;
        font-family: 'Playfair Display', serif;
        font-size: 70px;
        line-height: 95px;
        color: $colTextFirstScreen;
    }
    .text_desc {
        position: absolute;
        left: 219px;
        top: 480px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 45px;
        color: $colTextFirstScreen;
    }
    .btn-submit {
        position: absolute;
        width: 309px;
        height: 75px;
        left: 219px;
        top: 560px;
        background: $colBtm;
        border-radius: 75px;
        border: none;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        color: $colInBtm;
    }
    .container_play-video_img {
        position: absolute;
        top: 560px;
        left: 589px;
        opacity: 0.75;
    }
    .container_play-video_text {
        position: absolute;
        top: 560px;
        width: 108px;
        height: 75px;
        left: 684px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: $colTextFirstScreen;
        opacity: 0.75;
    }
    .social_text {
        position: absolute;
        // width: 206px;
        left: 218px;
        padding-top: 754px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        color: $colTextFirstScreen;
    }
    .cosial-icon {
        position: absolute;
        width: 215px;
        padding-top: 792px;
        left: 218px;
        .icon {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .cards {
        position: absolute;
        display: inline-flex;
        justify-content: flex-end;
        #rectangle03 {
            margin: 0 32px;
        }
        .rectangle {
            padding-top: 754px;
        }
    }
}